
@{
    Layout = "~/views/shared/_layout2.cshtml";
    ViewBag.Title = "Delete Department";
}


    <div class="alert alert-danger">
        Are you sure delete department
        @Model.Id : @Model.Name 
    </div>
    <form method="post">
        <input type="submit" value="delete department" class="btn btn-danger" />
    </form>
    <a href="/department/index" class="btn btn-primary">Back</a>
