
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <a href="/department/create" class="btn btn-success">Create</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Operation</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/department/details/@item.Id" class="btn btn-info">Details</a>
                    <a href="/department/edit/@item.Id" class="btn btn-warning">Edit</a>
                    <a href="/department/delete/@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
